.app__home{
    z-index: 0;
}
.app__home-content{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.app__home-content_img img{
    width: 900px;
}

.app__home-content_word{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
    margin-top: -10rem;
    margin-left: -8rem;
}

.app__home-content_word p{
    color: gray;
    margin-bottom: 2rem;
}

@media screen and (max-width:2000px) {
    

    }
    @media screen and (max-width:1200px) {
        .app__home-content{
            flex-direction: column;
        }
    }
    
    @media screen and (max-width:900px) {
        .app__home-content{
            flex-direction: column;
        }
        .app__home-content_img img{
            height: 450px;
        }
        .app__home-content_word{
            margin-right: 0;
        }
    }
  
