*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg__app{
  background:#ffffff;
}

.app__flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-padding{
  padding: 4rem 0;
}